[submodule "vim/vim/bundle/vundle"]
	path = vim/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/pep8"]
	path = vim/vim/bundle/pep8
	url = git://github.com/vim-scripts/pep8
[submodule "vim/vim/bundle/pyflakes-vim"]
	path = vim/vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim
[submodule "vim/vim/bundle/rope-vim"]
	path = vim/vim/bundle/rope-vim
	url = git://github.com/klen/rope-vim
[submodule "vim/vim/bundle/vim-coffee-script"]
	path = vim/vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vim/vim/bundle/vim-django-support"]
	path = vim/vim/bundle/vim-django-support
	url = git://github.com/gerardo/vim-django-support
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/vim/bundle/vim-jade"]
	path = vim/vim/bundle/vim-jade
	url = git@github.com:digitaltoad/vim-jade
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim
[submodule "vim/vim/bundle/vim-stylus"]
	path = vim/vim/bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
