[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = git://github.com/vim-scripts/pep8
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim
[submodule "vim/bundle/rope-vim"]
	path = vim/bundle/rope-vim
	url = git://github.com/klen/rope-vim
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-django-support"]
	path = vim/bundle/vim-django-support
	url = git://github.com/gerardo/vim-django-support
